{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block cssBefore %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 mt-1">
                <h2 class="secondary-color mb-2">{{ 'Profil' | trans }} >  {{ 'Mot de passe' | trans }}</h2>

                {{ form_start(form) }}


                <label>{{ form_label(form.old_password) }}</label>
                <div class="form-group ml-2 p-3" style="position: relative;">
                    {{ form_widget(form.old_password, {'attr': {'class': 'form-control toggle-password'}}) }}
                    <span class="toggle-password"><i class="fas fa-eye-slash" id="toggleOldPassword"></i></span>
                </div>


                <label>{{ form_label(form.new_password.first) }}</label>
                <div class="form-group ml-2 p-3" style="position: relative;">
                    {{ form_widget(form.new_password.first, {'attr': {'class': 'form-control toggle-password'}}) }}
                    <span class="toggle-password"><i class="fas fa-eye-slash" id="toggleNewPasswordFirst"></i></span>
                </div>


                <label>{{ form_label(form.new_password.second) }}</label>
                <div class="form-group ml-2 p-3" style="position: relative;">
                    {{ form_widget(form.new_password.second, {'attr': {'class': 'form-control toggle-password'}}) }}
                    <span class="toggle-password"><i class="fas fa-eye-slash" id="toggleNewPasswordSecond"></i></span>
                </div>

                {{ form_widget(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}



{% block js %}

    <script type="text/javascript">
        $(document).ready(function() {

            $('#toggleOldPassword').on('click', function() {
                togglePasswordVisibility($('#form_old_password'), $(this));
            });


            $('#toggleNewPasswordFirst').on('click', function() {
                togglePasswordVisibility($('#form_new_password_first'), $(this));
            });


            $('#toggleNewPasswordSecond').on('click', function() {
                togglePasswordVisibility($('#form_new_password_second'), $(this));
            });

            function togglePasswordVisibility(passwordInput, toggleIcon) {
                if (passwordInput.attr('type') === 'password') {
                    passwordInput.attr('type', 'text');
                    toggleIcon.removeClass('fa-eye-slash').addClass('fa-eye');
                } else {
                    passwordInput.attr('type', 'password');
                    toggleIcon.removeClass('fa-eye').addClass('fa-eye-slash');
                }
            }
        });

    </script>
{% endblock %}
