{% extends 'base.html.twig' %}



 {% block menu_top %}
     {% if forcedPin %}
     <nav class="navbar navbar-expand-lg navbar-dark bg-eusko static-top fixed-top">
         <div class="container">
             <a class="navbar-brand" href="{{ path('app_homepage') }}"><img src="{{ asset('images/logo-eusko-topbar.png') }}" alt="eusko logo" style="width: 60px;"></a>
             <div class="navbar-right">

                 {% if app.user %}
                     <a href="{{ path('app_logout') }}">
                         <i class="fal fa-sign-out cel-menu-icon"></i>
                         <br /> Quitter
                     </a>
                 {% endif %}
             </div>
         </div>
     </nav>
     {% else %}
        {{ parent() }}
     {% endif %}
 {% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 mt-1">
                {% if forcedPin %}
                    <h1 class="h3 mb-3">{{ "Choix du code pin" | trans }}</h1>
                    <p class="text-subtitle">{{ "Votre code pin vous sera utile lors des paiements avec votre euskokart ou avec l'application euskopay." | trans }}</p>
                {% else %}
                    <h2 class="secondary-color mb-2">{{ 'Profil' | trans }} >  {{ 'Choix du code pin' | trans }}</h2>
                {% endif %}


                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block menu_footer %}
    {% if forcedPin %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}