{% extends 'base.html.twig' %}

{% block cssBefore %}
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 mt-1">
                <div class="text-center mb-5 mt-4">

                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                    <h1 class="main-color mt-2" style="font-size: 1.5rem;"> {{ infosUser.nom }}</h1>
                    <h3 class="secondary-color" >{{ "N° d'adhérent" | trans }} <span class="consolas">{{ app.user }}</span></h3>
                    <h3 class="secondary-color" >{{ "Compte n°" | trans }} {% include 'utils/displayAccountNumber.html.twig' with {'compte': infosUser.compte} %} </h3>
                    {% if is_granted('ROLE_CLIENT') %}
                        {% include 'utils/cotisationState.html.twig' with {'membre': membre } %}
                    {% endif %}
                    {% if is_granted('ROLE_TOURISTE') %}
                        <a href="{{ path('app_vee_fermeture') }}" style="color: darkred">{{ "clotûrer mon compte" | trans }}</a>
                    {% endif %}

                </div>

                <h2 class="secondary-color mt-5">{{ "Accès à mon compte" | trans }}</h2>
                <table class="table">
                    <tr>
                        <td><p class="main-color text-semi-bold">{{ "Mot de passe" | trans }}</p></td>
                        <td class="text-right"><a href="{{ path('app_profil_password') }}" class="button-nav"> {{ "Modifier" | trans }}</a> </td>
                    </tr>
                    <tr>
                        <td><span class="main-color text-semi-bold">{{ "Question secrète" | trans }}</span></td>
                        <td class="text-right"><a href="{{ path('app_profil_question') }}" class="button-nav btn-md"> {{ "Modifier" | trans }}</a> </td>
                    </tr>
                </table>


                <h2 class="secondary-color mt-5">{{ "Mon euskokart" | trans }}</h2>
                <table class="table">
                    <tr>
                        <td><span class="main-color text-semi-bold">{{ "Mon code PIN" | trans }}</span></td>
                        <td class="text-right"><a href="{{ path('app_profil_pin') }}" class="button-nav btn-md"> {{ "Modifier" | trans }}</a> </td>
                    </tr>
                </table>

                <h2 class="secondary-color mt-5">{{ "Coordonnées" | trans }}</h2>
                <table class="table">
                    <tr>
                        <td>
                            <p class="main-color text-semi-bold">
                                {{ infosUser.nom }}<br />
                                {{ membre.address }}<br />
                                {{ membre.zip }} {{ membre.town }}<br /><br />
                                {% if membre.type == 'Particulier' or membre.type == 'Touriste' %}
                                    {{ membre.phone_mobile }}<br />
                                {% else %}
                                    {{ membre.phone }}<br />
                                {% endif %}
                                {{ membre.email }}
                            </p>
                        </td>
                        <td class="text-right"><a href="{{ path('app_profil_coordonnees') }}" class="button-nav btn-md"> {{ "Modifier" | trans }}</a> </td>
                    </tr>
                </table>

                {% if is_granted('ROLE_CLIENT') %}
                    <h2 class="secondary-color mt-5">{{"Cotisation" | trans}}</h2>
                    <table class="table">
                        <tr>
                            <td>
                                <p class="main-color text-semi-bold">
                                    {% if membre.array_options.options_prelevement_auto_cotisation_eusko %}

                                        {{ membre.array_options.options_prelevement_cotisation_montant | round(2) }} eusko /
                                        {% if membre.array_options.options_prelevement_cotisation_periodicite == 12 %}
                                            {{"an" | trans }}
                                        {% else %}
                                            {{"mois" | trans }}
                                        {% endif %}
                                    {% elseif  membre.array_options.options_cotisation_offerte %}
                                        {{"Cotisation offerte" | trans }}
                                    {% else %}
                                        {{"Pas de prélèvement automatique de la cotisation" | trans }}
                                    {% endif %}
                                </p>
                            </td>
                            <td class="text-right"><a href="{{ path('app_profil_cotisation') }}" class="button-nav"> {{ "Modifier" | trans }}</a> </td>
                        </tr>
                    </table>
                {% endif %}

                <h2 class="secondary-color mt-5">{{"Autres paramètres" | trans }}</h2>
                <table class="table">
                    <tr>
                        <td>
                            <p class="main-color text-semi-bold">
                                {{"Langue" | trans }} :
                                {% if membre.array_options.options_langue %}
                                    {{ ('profil.langue.'~membre.array_options.options_langue) | trans }}
                                {% endif %}
                            </p>

                        </td>
                        <td class="text-right"><a href="{{ path('app_profil_langue') }}" class="button-nav"> {{ "Modifier" | trans }}</a> </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="main-color text-semi-bold">
                                {{ "profil.newsletter.abonne" | trans }} : {{ ('profil.booleen.'~membre.array_options.options_recevoir_actus) | trans }}
                            </span>
                        </td>
                        <td class="text-right"><a href="{{ path('app_profil_newsletter') }}" class="button-nav btn-md"> {{ "Modifier" | trans }}</a> </td>
                    </tr>
                    <tr>
                        <td><span class="main-color text-semi-bold">
                                {{ "Notifications" | trans }}<br />
                                {{ "Virement reçu" | trans }} : {{ ('profil.booleen.'~membre.array_options.options_notifications_virements) | trans }}<br />
                                {{ "Prélèvement effectué sur votre compte" | trans }} : {{ ('profil.booleen.'~membre.array_options.options_notifications_prelevements) | trans }}<br />
                            </span>
                        </td>
                        <td class="text-right"><a href="{{ path('app_profil_notifications') }}" class="button-nav btn-md"> {{ "Modifier" | trans }}</a> </td>
                    </tr>
                    {% if is_granted('ROLE_TOURISTE') or is_granted('ROLE_CLIENT') %}
                        <tr>
                            <td><span class="main-color text-semi-bold">{{ "profil.newsletter.bonplans" | trans }} : {{ ('profil.booleen.'~membre.array_options.options_recevoir_bons_plans) | trans }}</span></td>
                            <td class="text-right"><a href="{{ path('app_profil_bons_plans') }}" class="button-nav btn-md"> {{ "Modifier" | trans }}</a> </td>
                        </tr>
                    {% endif %}

                    <tr>
                        <td><span class="main-color text-semi-bold">{{ "profil.fermeture.label" | trans }} </span></td>
                        <td class="text-right"><a href="{{ path('app_fermeture_compte') }}" class="btn btn-outline-danger btn-md"> {{ "Fermeture compte" | trans }}</a> </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
