{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 mt-2">
                <div class="row mb-2">
                    <div class="col"><h2 class="secondary-color"> {{ "Gestion des bénéficiaires" | trans }} </h2></div>
                </div>



                <div class="text-center mb-4"><a href="{{ path('app_beneficiaire_ajout') }}" class="btn btn-outline-primary btn-slim main-color" > {{ "Ajouter un nouveau bénéficiaire" | trans }} </a></div>

                <h3 class="main-color mb-4"> {{ "Vos bénéficiaires" | trans }} </h3>

                <div class="colored-tab">
                    {% for beneficiaire in beneficiaires %}
                        <div class="row">
                            <div class="col-2 text-center">
                                <i class="fal fa-user-circle" style="font-size: 35px;"></i>
                            </div>
                            <div class="col-7">
                                <div class="main-color text-semi-bold"> {{ beneficiaire.cyclos_name }}</div>
                                <div class="secondary-color"> {{ beneficiaire.cyclos_account_number }}</div>
                            </div>
                            <div class="col-3">
                                <div class="float-right ">
                                    <a href="{{ path('app_beneficiaire_remove', {'id': beneficiaire.id}) }}" aria-label="{{ beneficiaire.cyclos_name }}" class="btn btn-danger btn-slim btn-guard"><i class="far fa-trash-alt"></i> </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{"Supprimer un mandat" | trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ "Êtes-vous sûr de vouloir supprimer le bénéficiaire suivant :" | trans }}<br />
                    <span id="nomMandat"></span> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <a href="#" class="btn btn-outline-success" id="modal-valid">Valider</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">

        $('.btn-guard').click(function (e){
            $('#nomMandat').html($(this).attr('aria-label'));
            $('#confirm-modal').modal('show');
            e.preventDefault();
            $('#modal-valid').attr('href', $(this).attr('href'));
        });
    </script>
{% endblock %}