{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            {% if boolMandatATT %}
                <div class="col-sm-12 col-md-8 offset-md-2 mt-3">
                    <div class="card text-white bg-info mb-3" style="">
                        <div class="card-body">
                            <h4 class="card-title">Nouvelle autorisation de prélèvement</h4>
                            <p class="card-text">Vous avez des autorisations de prélèvements en attente de validation.</p>
                            <div class="text-right">
                                <a href="{{ path('app_prelevement_autorisation') }}" class="btn btn-outline-white">Consulter</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="col-sm-12 col-md-8 offset-md-2 mt-3">
                <h2 class="secondary-color mb-0"> {{ "Mon solde" | trans }}</h2>
                <div class="main-color big-solde"> {{ infosUser.solde | number_format(2, ',') }} eusko</div>


                {% if infosUser.solde == 0 %}
                    <div class="p-3 mt-4 text-center" style="margin-bottom: 60px">
                        <h1 class="h3 mb-3">{{ "Bienvenue dans votre compte eusko !" | trans }}</h1>
                        <p class="text-subtitle">{{ "Créditer votre compte pour commencer à l'utiliser" | trans }}</p>
                        <a href="{{ path('app_change') }}" class="btn btn-success"> {{ "Charger mon compte" | trans }}</a>
                    </div>

                {% endif %}


                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="eusko-cart p-3 mt-4">
                            <div class="d-flex align-items-center flex-row">
                                <div class="d-inline-flex" style="flex-grow: 4;">
                                    <div>
                                        {{ "Nom" | trans }} <br/>
                                        <div class="text-semi-bold">{{ infosUser.nom }}</div> <br/>
                                        {{ "Compte n°" | trans }}<br />
                                        <div class="text-semi-bold">{% include 'utils/displayAccountNumber.html.twig' with {'compte': infosUser.compte} %}</div>
                                        <br />
                                    </div>
                                </div>
                                <div class="d-inline-flex text-center">

                                    <div>
                                        <div><a class="btn btn-outline-primary eusko-btn" href="{{ path('app_export_rie') }}"> <i class="far fa-download mr-1"></i>RIB eusko</a></div>
                                        {% if is_granted('ROLE_PARTENAIRE') and not is_granted('ROLE_REGIE') %}
                                            <div><a class="btn btn-outline-primary eusko-btn mt-2" href="{{ path('app_reconvertir') }}"> {{ "Reconvertir des eusko en €" | trans }} </a></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col text-right">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="eusko-cart p-3 mt-4">
                            <div class="d-flex align-items-center flex-row">
                                <div class="d-inline-flex" style="flex-grow: 4;">
                                    <div>
                                        <div class="threepermain text-semi-bold mb-2"> <img src="{{ asset('images/icon-annuaire.png') }}" width="40px"> Annuaire</div>
                                        <div class="text-center mb-2"> La liste des prestataires acceptant l'eusko</div>
                                        <div class="text-center">
                                        <a href="https://annuaire.euskalmoneta.org/" target="_blank" class="btn btn-outline-primary"> Annuaire en ligne</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-3 col-md-6  col-sm-12">

                        <div class="main-carousel pt-3 mb-4">

                            <div class="carousel-cell">
                                <img src="{{ asset('images/bonplanexemple.png') }}" width="100%" />
                                {#<a href="#" class="btn btn-success" style="position: absolute; right: 5%; bottom: 15%;">En savoir plus</a>#}
                            </div>

                        </div>
                    </div>
                </div>


                {% if is_granted('ROLE_CLIENT') %}
                    <div class="row mt-4 mb-4 threeper p-4">
                        <div class="col-4 col-md-5">
                            <div class="float-none float-md-right mt-2">
                                <a class="btn btn-outline-white eusko-btn" href="{{ path('app_asso') }}"> {{ "+ d'infos" | trans }} </a>
                            </div>
                        </div>
                        <div class="col-8 col-md-6">
                            <div class="float-right float-md-none">
                                <h2 class="threepersecond mb-0 text-light"> {{ "Mon don 3% Eusko" | trans }}</h2>
                                <div class="threepermain text-semi-bold"> {{ montant_don | number_format(2, ',') }} eusko</div>
                                <p>{{ "depuis le 1er juillet dernier" | trans }}</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="row mt-4 mb-4 threeper p-4">
                        <div class="col-12">
                            <div class="text-center">
                                <div class="text-semi-bold"> Afficher les bons plans sur cette page ?</div>
                                <div class="mt-4">
                                    <a href="#" class="btn btn-outline-primary" style="color: #fff; border: 0px; background-color: #284f1e;">non</a>
                                    <a href="#" class="btn btn-outline-primary">oui</a>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="row mt-5 mb-2">
                    <div class="col-4">
                        <h2 class="secondary-color mt-3"> {{ "Historique" | trans }}</h2>
                    </div>
                    <div class="col-8">
                        <div class="float-right">
                            <a class="btn btn-outline-primary eusko-btn" href="{{ path('app_search') }}"> {{ "Relevés de compte" | trans }} </a>
                        </div>
                    </div>
                </div>

                {% if operations is not empty%}
                    {% include 'utils/miniOperation.html.twig' with {'operations' : operations } %}
                {% else %}
                    <div class="text-center mt-4">
                        <h3 class="mt-4">{{"Votre historique est vide" | trans }}</h3>
                        <img src="{{ asset('images/no-data.png') }}" width="30%"/>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

    {% block js %}
        <script type="text/javascript">

        </script>

    {% endblock %}
