{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 mt-3">
                <div class="row">
                    <div class="col"><h2 class="secondary-color mb-4"> {{"Supprimer un bénéficiaire" | trans }} </h2></div>
                    <div class="col-4 text-right"><a href="{{ path('app_beneficiaire_gestion') }}" class="btn btn-slim btn-outline-primary"> {{"Retour" | trans}}</a></div>

                </div>

                <div class=" mb-4 mt-4 text-center">
                    {{ "Êtes-vous sûr de vouloir supprimer le bénéficiaire suivant :" | trans }}<br />
                    <h5>{{ beneficiaire.cyclos_name }}</h5>

                    <form class="form mt-4" method="post">
                        <input type="submit" class="btn btn-success" value="{{"Supprimer le bénéficiaire" | trans }}" />
                    </form>
                </div>



            </div>
        </div>
    </div>

{% endblock %}

