{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block css %}
    <link href="{{ asset('css/chosen.min.css') }}" rel="stylesheet"  type='text/css'>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 mt-3">
                <h2 class="secondary-color mb-2"> {{ "Faire un virement" | trans }} </h2>

                <div class="mb-4">

                    {% if  form_errors(form) != '' %}
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button> {{ form_errors(form) }}
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="destinataire" class="required">{{ "Destinataire" | trans }}</label>

                                <select id="" name="destinataire" class="form-control chosen-select" data-placeholder="{{ "Selectionner dans la liste ..." | trans }}" >
                                    <option value=""></option>
                                    {% for beneficiaire in beneficiaires %}
                                    <option value="{{ beneficiaire.cyclos_id }}">{{ beneficiaire.cyclos_name }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="float-right">
                                <a href="{{ path('app_beneficiaire_ajout') }}" class="btn btn-outline-primary btn-slim"> {{"Ajouter un nouveau bénéficiaire" | trans}}</a>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(form.amount) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            {{ form_row(form.description) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            {{ form_row(form.submit) }}
                        </div>
                    </div>

                </div>


                <div class="d-block d-sm-none" style="z-index: 1;">
                    <hr>
                    <div class="text-center mb-4">
                        <a href="{{ path('app_beneficiaire_gestion') }}"><i class="fal fa-users main-color" style="font-size: 50px;"></i><br /></a>
                        <a href="{{ path('app_beneficiaire_gestion') }}" class="btn btn-outline-primary btn-slim main-color">{{ "Gestion des bénéficiaires" | trans }}  </a>
                    </div>
                </div>

                <div class="before-footer fixed-bottom d-none d-md-block">
                    <hr>
                    <div class="text-center mb-4">
                        <a href="{{ path('app_beneficiaire_gestion') }}"><i class="fal fa-users main-color" style="font-size: 50px;"></i><br /></a>
                        <a href="{{ path('app_beneficiaire_gestion') }}" class="btn btn-outline-primary btn-slim main-color">{{ "Gestion des bénéficiaires" | trans }}  </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{"Confirmation paiement" | trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{"Êtes vous sur de valider le paiement ?" | trans }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <input  type="submit" class="btn btn-outline-success btn-slim" id="modal-valid" value="Valider" />
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}




{% endblock %}

{% block js %}
    <script src="{{ asset('js/chosen.jquery.min.js') }}"></script>
    <script type="text/javascript">

        $(".chosen-select").chosen();

        $('#form-virement').submit(function (e){
            if($('#confirm-modal').hasClass('fade')){
                $('#confirm-modal').modal('show');
                e.preventDefault();

            } else {
                $("#form_submit").unbind('click').click();
                $(this).submit();
            }

        });
        $('#modal-valid').click(function (e){
            $("#form_guard_check").val('ok');
            $('form').unbind('submit').submit();
            $("#form_submit").submit();
        });
    </script>
{% endblock %}