{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 mt-2">

                <div class="p-4 " >
                    <div class="d-flex justify-content-between">
                        <h2 class="main-color">{{ "Exécuter des prélèvements" | trans }}</h2>
                    </div>

                    <div class="mb-4">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col mt-4">
                                <h3 class="mb-0">{{ form_label(form.tableur) }}</h3>

                                {% if app.request.locale == 'fr' %}
                                    <p>Télécharger un fichier d'exemple pour <a href="{{ asset('images/tableur-fr.xlsx') }}" style="text-decoration: underline;">Excel</a> ou pour <a href="{{ asset('images/tableur-fr.ods') }}" style="text-decoration: underline;">OpenOffice / LibreOffice</a></p>
                                {% else %}
                                    <p><a href="{{ asset('images/tableur-eu.xlsx') }}" style="text-decoration: underline;">Excel</a> edo <a href="{{ asset('images/tableur-eu.ods') }}" style="text-decoration: underline;">OpenOffice / LibreOffice</a>-eko fitxategi adibide bat kargatu</p>
                                {% endif %}
                                {% if form_errors(form.tableur) != '' %}
                                    <span class="invalid-feedback d-block"><span class="d-block">
                                <span class="form-error-icon badge badge-danger text-uppercase">Erreur</span> <span class="form-error-message">{{ form_errors(form.tableur) }}</span>
                            </span></span>
                                {% endif %}
                                {{ form_widget(form.tableur, {'attr': {'class': 'form-control'}}) }}

                            </div>
                        </div>


                        <div class="row">
                            <div class="col mt-4  mb-4">
                                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                            </div>
                        </div>

                        {{ form_rest(form) }}
                    </div>


                </div>


                <div class="before-footer text-center">
                    <hr>
                    <div class="d-flex flex-wrap justify-content-around align-items-center ">

                        <div class="mt-3">
                            <a href="{{ path('app_prelevement_autorisation') }}" class="button-nav">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-check" viewBox="0 0 16 16">
                                    <path d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"/>
                                    <path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                                </svg>
                                <span class="ml-2">{{ "Gérer les autorisations de prélèvement sur mon compte" | trans }}</span>
                            </a>
                        </div>
                        <div class="mt-3">
                            <a href="{{ path('app_prelevement_mandats') }}" class="button-nav">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                                    <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"/>
                                    <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                </svg>
                                <span class="ml-2">{{ "Gérer les mandats" | trans }}</span>
                            </a>
                        </div>
                        <div class="mt-3">
                            <a href="{{ path('app_prelevement_resultats') }}" class="button-nav">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                                </svg>
                                <span class="ml-2">{{ "Historique des prélèvements" | trans }}</span>
                            </a>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>





{% endblock %}

{% block js %}
    <script type="text/javascript">

    </script>
{% endblock %}
