{% extends 'base.html.twig' %}



{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 mt-3">

                <div class="d-flex justify-content-between">
                    <h2 class="secondary-color mb-4"> {{ "Mandats" | trans }} </h2>
                    <div class="col-4 text-right">
                        <a href="{{ path('app_prelevement') }}" class="button-nav">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                            </svg>
                            <span class="ml-2"> {{"Retour" | trans }}</span>
                        </a>
                    </div>
                </div>

                <div class="mb-2">

                    <a href="{{ path('app_prelevement_mandats_ajout') }}" class="button-nav">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                            <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                        </svg>
                        <span class="ml-2">{{"Ajouter des mandats" | trans }}</span>
                    </a>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <form method="get" class="row g-3">
                            <div class="col-md-3">
                                <label for="nom" class="form-label">Nom</label>
                                <input type="text" class="form-control" id="nom" name="nom"
                                       value="{{ filters.nom }}">
                            </div>

                            <div class="col-md-3">
                                <label class="form-label">Statut</label>

                                <div class="d-flex flex-wrap">
                                    {% for statut in statutOptions %}
                                        <div class="mr-2">
                                            <div class="mr-4">
                                                <input type="checkbox" class="form-check-input" id="statut_{{ statut }}" name="statut[]" value="{{ statut }}" {% if statut in filters.statut %}checked{% endif %}>
                                                <label class="form-check-label" for="statut_{{ statut }}">
                                                    {% if statut == 'REF' %}
                                                        <div class="">
                                                            {{ "Refusés" | trans }}
                                                        </div>
                                                    {% elseif statut == 'REV' %}
                                                        <div class="">
                                                            {{ "Révoqués" | trans }}
                                                        </div>
                                                    {% elseif statut == 'ATT' %}
                                                        <div class="">
                                                            {{ "En attente" | trans }}
                                                        </div>
                                                    {% elseif statut == 'VAL' %}
                                                        <div class="">
                                                            {{ "Validés" | trans }}
                                                        </div>
                                                    {% endif  %}

                                                </label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>

                            <div class="col-md-3">
                                <label for="dateFrom" class="form-label">Date début</label>
                                <input type="date" class="form-control" id="dateFrom" name="dateFrom"
                                       value="{{ filters.dateFrom }}">
                            </div>

                            <div class="col-md-3">
                                <label for="dateTo" class="form-label">Date fin</label>
                                <input type="date" class="form-control" id="dateTo" name="dateTo"
                                       value="{{ filters.dateTo }}">
                            </div>

                            <div class="col-12 mt-4">
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <div>
                                        <button type="submit" class="btn btn-primary">Filtrer</button>
                                        <a href="{{ path('app_prelevement_mandats') }}" class="btn btn-secondary">Effacer</a>
                                    </div>
                                    <div>
                                        {{ countMandats }} {{ 'mandat.resultats' | trans }}
                                        <a  class="btn-slim btn-info ml-2" href="{{ path('app_prelevement_mandats', app.request.query.all|merge({'export': 'csv'})) }}">Export CSV</a>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

                {% if pagination.items is empty %}
                    <div class="text-center mt-4">
                        <h3 class="mt-4">{{"Aucun mandat" | trans }}</h3>
                        <img src="{{ asset('images/no-data.png') }}" width="30%"/>
                    </div>
                {% endif %}

                {% if pagination.items is not empty %}

                    <table class="table table-bordered">
                        <thead>
                        <th>{{ knp_pagination_sortable(pagination, 'Nom', 'nom_debiteur') }}</th>
                        <th>Statut</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Date', 'date') }}</th>
                        <th>action</th>
                        </thead>
                        <tbody>
                        {% for mandat in pagination %}
                            <tr>
                                <td>
                                    <div class="main-color text-semi-bold">{{ mandat.nom_debiteur }}</div>
                                </td>

                                <td>
                                    <div class="secondary-color">
                                        {% if mandat.statut == 'REF' %}
                                            <div class="text-danger">
                                                {{ "Refusé le " | trans }}
                                            </div>
                                        {% elseif mandat.statut == 'REV' %}
                                            <div class="">
                                                {{ "Révoqué le " | trans }}
                                            </div>
                                        {% elseif mandat.statut == 'ATT' %}
                                            <div class="">
                                                {{ "Créé le " | trans }}
                                            </div>
                                        {% elseif mandat.statut == 'VAL' %}
                                            <div class="">
                                                {{ "Validé le " | trans }}
                                            </div>
                                        {% endif  %}
                                    </div>
                                </td>
                                <td>
                                    <div class="secondary-color">
                                        {{ mandat.date_derniere_modif | format_date(dateFormat='short') }}
                                    </div>
                                </td>
                                <td class="text-right">
                                    <a class="btn btn-danger btn-slim btn-guard" aria-label="{{ mandat.nom_debiteur }}" href="{{ path('app_prelevement_autorisation_delete', {'id': mandat.id}) }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>

                {% endif %}

                <div class="before-footer">
                    <hr class="">
                    <div class="mb-2 text-center">

                        <a href="{{ path('app_prelevement_mandats_ajout') }}" class="button-nav">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                                <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                            </svg>
                            <span class="ml-2">{{"Ajouter des mandats" | trans }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{"Supprimer un mandat" | trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{"Êtes-vous sûr de vouloir supprimer le mandat de : " | trans }} <span id="nomMandat"></span> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <a href="#" class="btn btn-outline-success" id="modal-valid">Valider</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}
    <script type="text/javascript">

        $('.btn-guard').click(function (e){

            $('#nomMandat').html($(this).attr('aria-label'));
            $('#confirm-modal').modal('show');
            e.preventDefault();
            $('#modal-valid').attr('href', $(this).attr('href'));
        });
    </script>
{% endblock %}