{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 mt-2">
                <h2 class="secondary-color mb-4"> {{ "Prélèvements" | trans }} </h2>

                <h3 class="main-color mt-4">{{ "Prélèvements sur mon compte" | trans }} </h3>
                <div class="ml-4 mr-2 mb-4">
                    <div class="mt-4">
                        <a href="{{ path('app_prelevement_autorisation') }}" class="btn btn-outline-primary">{{ "Gérer les autorisations" | trans }}</a>
                    </div>
                </div>

                <h3 class="main-color mt-4">  {{ "Faire des prélèvements" | trans }} </h3>
                <div class="ml-4 mr-2 mb-4">
                    <div class="mt-4">
                        <a href="{{ path('app_prelevement_mandats') }}" class="btn btn-outline-primary">{{ "Gérer les autorisations" | trans }}</a>
                    </div>
                    <div class="mt-4">
                        <a href="{{ path('app_prelevement_execution') }}" class="btn btn-outline-primary">{{ "Exécuter des prélèvements" | trans }}</a>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">

    </script>
{% endblock %}