<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Compte Eusko</title>

    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('images/favicon-96x96.png') }}">
    <link rel="manifest" href="{{ asset('manifest.json') }}">

    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"  type='text/css'>
    <link href="{{ asset('css/all.min.css') }}" rel="stylesheet"  type='text/css'>
    <link href="{{ asset('css/flickety.min.css') }}" rel="stylesheet"  type='text/css'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    {% block cssBefore %}

    {% endblock %}

    <link href="{{ asset('css/style.css') }}" rel="stylesheet"  type='text/css'>

    {% block css %}

    {% endblock %}

</head>

<body>

<header>
    <!-- Navigation -->
    {% block menu_top %}
        <nav class="navbar navbar-expand-lg navbar-dark {% if is_granted('ROLE_PARTENAIRE') %} bg-partenaire {% else %}bg-eusko{% endif %} static-top fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{{ path('app_homepage') }}">
                    <img src="{% if is_granted("ROLE_TOURISTE") %} {{ asset('images/logo-vee.png') }}{% else %}{{ asset('images/logo-eusko-topbar.png') }}{% endif %}" alt="eusko logo" style="width: 60px;">

                </a>
                <div class="navbar-right">

                    {% if app.user %}
                        {#<a href="{{ path('app_homepage') }}">
                            <i class="fal fa-home cel-menu-icon"></i>
                            <br /> Accueil
                        </a>#}
                        <a href="{{ path('app_aide') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                            </svg>
                            <br /> {{"Aide" | trans }}
                        </a>

                        <a href="{{ path('app_profil') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                            </svg>
                            <br /> {{"Profil" | trans }}
                        </a>

                        <a href="{{ path('app_logout') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                            </svg>
                            <br /> {{"Quitter" | trans }}
                        </a>
                    {% else %}
                        <a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'eu'}) }}" style="font-size: 16px;">
                            EUS
                        </a>
                        <a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'fr'}) }}" style="font-size: 16px;">
                            FR
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    {% endblock %}

</header>
<main>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 mt-2">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-dismissible alert-{{ label }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message | raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- Page Content -->
    {% block body %}

    {% endblock %}
</main>

{% block menu_footer %}
{% if app.user %}
<footer class="footer fixed-bottom mt-auto">
    <div class="container">

                <div class="row">
                    <div class="col-3">
                        <a href="{{ path('app_homepage') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                            </svg>
                            <br /> {{"Accueil" | trans }}
                        </a>
                    </div>
                    <div class="col-3">
                        {% if is_granted("ROLE_TOURISTE") %}
                            <a href="{{ path('app_virement') }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"/>
                                </svg>
                                <br /> {{"Paiement" | trans }}
                            </a>
                        {% else %}
                            <a href="{{ path('app_virement') }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"/>
                                </svg>
                                <br /> {{"Virements" | trans }}
                            </a>
                        {% endif %}

                    </div>
                    <div class="col-3">
                        <a href="{{ path('app_change') }}">
                            <img src="{{ asset('images/icon-change-3.png') }}">
                            <br /> {{"Change" | trans }}
                        </a>
                    </div>
                    {% if is_granted("ROLE_CLIENT") %}
                        <div class="col-3">
                            <a href="{{ path('app_prelevement_autorisation') }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"/>
                                </svg>
                                <br /> {{"Prélèvements" | trans }}
                            </a>
                        </div>
                    {% elseif is_granted("ROLE_TOURISTE") %}
                        <div class="col-3">
                            <a href="{{ path('app_bons_plans') }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                                </svg>
                                <br /> {{"Bons plans" | trans }}
                            </a>
                        </div>

                    {% elseif is_granted("ROLE_PARTENAIRE") %}
                        <div class="col-3">
                            <a href="{{ path('app_prelevement') }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                                </svg>
                                <br /> {{"Prélèvements" | trans }}
                            </a>
                        </div>

                    {% endif %}

                </div>

            </div>
        </footer>
    {% endif %}
{% endblock %}


<!-- Bootstrap core JavaScript -->
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.2.2/dist/latest/bootstrap-autocomplete.min.js"></script>

{% block js %}

{% endblock %}
</body>

</html>
