{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 mt-3">
                <h2 class="secondary-color mb-0"> Mon solde</h2>
                <div class="main-color big-solde"> {{ infosUser.solde }} EUS</div>

                <div class="eusko-cart p-3 mt-4">
                    <div class="row ">
                        <div class="col-7 mb-2 text-semi-bold">
                            {{ infosUser.nom }} <br/>
                            {{ infosUser.compte }}
                        </div>
                        <div class="col-5"><a class="btn btn-outline-primary eusko-btn" href="{{ path('app_export_rie') }}"> <i class="far fa-download mr-1"></i>RIB eusko</a> </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-4 ml-0"><img src="{{ asset('images/euskocart-puce.png') }}" style="width: 70px;"></div>
                        <div class="col-8"> <div class="float-right pr-2"><a href="#"> Changer mon code pin</a></div></div>
                    </div>


                </div>


                <h2 class="secondary-color mt-4"> Euskocart</h2>


                <div class="row mt-4 mb-4">
                    <div class="col-7">
                        <h2 class="secondary-color mt-3"> Historique</h2>
                    </div>
                    <div class="col-5">
                        <div class="float-right">
                            <a class="btn btn-outline-primary eusko-btn" href="{{ path('app_search') }}"><i class="far fa-search mr-1"></i> Recherche </a>
                        </div>
                    </div>
                </div>

                {% include 'utils/miniOperation.html.twig' %}

            </div>
        </div>
    </div>
{% endblock %}
