{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 mt-3">
                <h2 class="secondary-color mb-2"> Rechercher une opération</h2>

                <div class="mb-4">
                    {{ form_start(form) }}
                    {% if  form_errors(form) != '' %}
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button> {{ form_errors(form) }}
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col">
                            {{ form_row(form.periode) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(form.dateDebut) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.dateFin) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>


                {% if operations is not empty %}
                    <div class="row mt-2">
                        <div class="col-6 text-center">
                            <button type="button" class="btn btn-info">Exporter en CSV</button>
                        </div>
                        <div class="col-6 text-center">
                            <button type="button" class="btn btn-info">Exporter en PDF</button>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            {% include 'utils/miniOperation.html.twig' %}
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
