{% extends 'base.html.twig' %}

{% block cssBefore %}
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 mt-3">

                <h1 class="main-color mb-2"> {{ "Créditer mon compte" | trans }} </h1>
                <h2 class="secondary-color mb-2"> {{ "Change en ligne via HelloAsso" | trans }} </h2>
                <div class=" mt-4">
                    <p>{{ "Vous allez être redirigé vers HelloAsso pour charger votre compte eusko de façon sécurisée.Vous aurez besoin de votre numéro d'adhérent, qui est le :" | trans }} <span class="consolas">{{ app.user }}</span><br />

                     {{ "Le service d'HelloAsso est gratuit, mais pouvez laisser un pourboire de temps en temps si vous le souhaitez, pour soutenir cet outil alternatif au service des associations!" |  trans }}</p>
                    <div class="text-center"> <iframe id="haWidgetButton" src="https://www.helloasso.com/associations/euskal-moneta/paiements/eusko-kontuaren-kargatzea-chargement-de-compte-eusko/widget-bouton" style="border: none;" ></iframe></div>
                </div>


                {% if not is_granted('ROLE_TOURISTE') %}
                <div style="margin-top: -40px">
                    <h2 class="secondary-color mb-2"> {{ "change_automatique.titre" | trans }} </h2>

                    <p>
                        {{ "change_automatique_mensuel.explication" | trans | raw }}
                    </p>


                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                <p class="main-color text-semi-bold">
                                    {{ "change_automatique_mensuel.montant" | trans }}<br />
                                    {{ membre.array_options.options_prelevement_change_montant | number_format(0) }} {{ "eusko par mois" | trans }}
                                </p>
                            </td>
                            <td class="text-right"><a href="{{ path('app_change_modifier') }}" class="btn btn-primary">{{ "Modifier" | trans }}</a> </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="main-color text-semi-bold">
                                    {{ "change_automatique_mensuel.iban" | trans }}<br />
                                    {{ membre.array_options.options_iban }}
                                </p>
                            </td>
                            <td class="text-right"><a href="{{ path('app_change_modifier_iban') }}" class="btn btn-primary">{{ "Modifier" | trans }}</a> </td>
                        </tr>
                        </tbody>
                    </table>

                    <h3 class="mt-4"> {{"Informations sur le mandat de prélèvement" | trans }}</h3>
                    <p>
                        {{"Nom du créancier" | trans }} : Association Euskal Moneta - Monnaie Locale du Pays Basque <br />
                        {{"Identifiant du créancier" | trans }} : FR49ZZZ663869<br />
                        {{"Référence Unique du Mandat" | trans }} : {{ membre.array_options.options_prelevement_change_rum }}<br />
                    </p>
                    <p>
                        {{ "change_automatique_mensuel.arret" | trans({'url': path('app_aide')}) | raw }}
                    </p>

                </div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">

    </script>
{% endblock %}
