{% extends 'base.html.twig' %}

{% block title %}Hello OuvertureCompteController!{% endblock %}

{% block body %}
    <div class="container">
        <div style="width: 80%">
            <div>{{ "ETAPE 4/5" | trans }}</div>
            <h1 class="mb-3">{{ "Change automatique" | trans }}</h1>
        </div>

        <iframe src="https://staging-app.yousign.com/procedure/sign?members={{ memberToken }}" width="100%" height="700px"> </iframe>

    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">

        $( document ).ready(function() {
            var tid = setInterval(ajaxCall, 5000);
            function ajaxCall() {
                $.ajax({
                        method: "POST",
                        url: "{{ path('ajax_yousign_webhook') }}",
                        data: { name: {{ webHook }} }
                    })
                    .done(function( msg ) {
                        if(msg === 'ok'){
                            abortTimer();
                            window.location.href='{{ path('app_compte_etape5_securite') }}';
                        } else {
                            console.log('pas bon');
                        }
                    });
            }
            function abortTimer() {
                clearInterval(tid);
            }


        });


    </script>
{% endblock %}
