{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ title | trans }}{% endblock %}

{% block cssBefore %}
    <link href="{{ asset('css/intlTelInput.min.css') }}" rel="stylesheet"  type='text/css'>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 mt-2">
                <div class="mt-md-4">
                    <h1 class="sur-titre-ouverture">{{ 'Ouverture de votre compte eusko' | trans }}</h1>
                    <div style="width: 80%">
                        <div>{{ "ETAPE 2/8" | trans }}</div>
                        <h1 class="mb-3">{{ title | trans }}</h1>
                    </div>

                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{{ asset('js/intlTelInput.min.js') }}"></script>
    <script type="text/javascript">

        var input = document.querySelector("#form_phone");
        var iti = window.intlTelInput(input, {
            nationalMode: true,
            preferredCountries: ['fr', 'es'],
            utilsScript: "{{ asset('js/intlTelInputUtils.js') }}"
        });

        $('#coordonnees').submit(function () {
            $('#form_phone').val(iti.getNumber());
            return true;
        });


        $('.basicAutoComplete').autoComplete({
            resolverSettings: {
                url: '{{ path('app_ajex_zipcode_search') }}'
            }
        });

        $('.basicAutoComplete').bind('autocomplete.select', function() {
            var ziptown = $("#form_zip").val().split('--');
            $("form_zip").val(ziptown[0]);
            $(this).val(ziptown[0]);
            $('#form_town').val(ziptown[1]);
        });
    </script>
{% endblock %}

