{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ title | trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 offset-md-3 mt-2">

                <div class="mt-md-4">
                    <h1 class="sur-titre-ouverture">{{ 'Ouverture de votre compte eusko' | trans }}</h1>

                        <div>{{ "ETAPE 4/8" | trans }}</div>
                        <h1 class="mb-3">{{ title | trans }}</h1>

                    <div class="row">
                        <div class="col-sm-12 mt-4">

                            {{ form_start(form) }}
                            {% if  form_errors(form) != '' %}
                                <div class="alert alert-dismissible alert-danger">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button> {{ form_errors(form) }}
                                </div>
                            {% endif %}

                            <p class="text-subtitle">{{ "change_automatique.explication" | trans | raw }}</p>

                            <div class="row">
                                <div class="col">
                                    {{ form_row(form.automatic_change_amount) }}
                                </div>
                            </div>

                            <p class="text-subtitle">{{ "change_automatique.explication2" | trans | raw }}</p>

                            <div class="row">
                                <div class="col">
                                    {{ form_row(form.iban) }}
                                </div>
                            </div>

                            <p class="text-subtitle">{{ "change_automatique.explication3" | trans | raw }}</p>

                            {{ form_end(form) }}

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{{ asset('js/jquery.mask.js') }}"></script>
    <script type="text/javascript">

        $( document ).ready(function() {
            $('#form_iban').mask('SS00 AAAA AAAA AAAA AAAA AAAA AAA', {
                placeholder: '____ ____ ____ ____ ____ ____ ___'
            });
        });

    </script>
{% endblock %}
