{% extends 'base_ouverture_compte.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 mt-4">

            {{ form_start(form) }}
            {% if  form_errors(form) != '' %}
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button> {{ form_errors(form) }}
                </div>
            {% endif %}

            <p class="text-subtitle">{{ "change_automatique.explication" | trans | raw }}</p>

            <div class="row">
                <div class="col">
                    {{ form_row(form.automatic_change_amount) }}
                </div>
            </div>

            <p class="text-subtitle">{{ "change_automatique.explication2" | trans | raw }}</p>

            <div class="row">
                <div class="col">
                    {{ form_row(form.iban) }}
                </div>
            </div>

            <p class="text-subtitle">{{ "redirection_yousign_pour_signature" | trans | raw }}</p>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{{ asset('js/jquery.mask.js') }}"></script>
    <script type="text/javascript">

        $( document ).ready(function() {
            $('#form_iban').mask('SS00 AAAA AAAA AAAA AAAA AAAA AAA', {
                placeholder: '____ ____ ____ ____ ____ ____ ___'
            });
        });

    </script>
{% endblock %}
