{% extends 'base_ouverture_compte.html.twig' %}

{% block cssBefore %}
    <link href="{{ asset('css/intlTelInput.min.css') }}" rel="stylesheet"  type='text/css'>
{% endblock %}

{% block content %}
    <div style="">
        <p class="text-subtitle">{{ explication | raw }}</p>
    </div>

    {{ form_start(form) }}


    {% if form.login is defined %}
        {{ form_row(form.login) }}
    {% endif%}

    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.address) }}
    {{ form_row(form.country_id) }}
    {{ form_row(form.zip) }}
    {{ form_row(form.town) }}
    {{ form_row(form.phone) }}

    {% if form.valide is defined %}
        <div>

            {{ form_errors(form.valide) }}
            {{ form_widget(form.valide) }}
            <label style="margin-left: 20px;display: inline;top: -19px;position: relative;" for="{{ form.valide.vars.id }}">{{ "J'ai lu et je valide les" | trans }} <a href="{{ asset('images/CGU-Particuliers.pdf') }}" target="_blank" class=""> {{ "CGU Particuliers" | trans }}</a></label>
        </div>
    {% endif %}

    {{ form(form) }}

{% endblock %}



{% block js %}
    <script src="{{ asset('js/intlTelInput.min.js') }}"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            var $country = $('.country-select, #form_country_id');
            var $zip = $('#form_zip');
            var $town = $('#form_town');

            function init() {
                var isFrance = $country.find('option:selected').text().trim() === 'France';

                if (isFrance) {
                    $town.prop('readonly', true).addClass('readonly-field');

                    $zip.addClass('basicAutoComplete').autoComplete({
                        resolverSettings: {
                            url: '{{ path('app_ajex_zipcode_search') }}'
                        }
                    }).on('autocomplete.select', function() {
                        var parts = $(this).val().split('--');
                        $zip.val(parts[0]);
                        $town.val(parts[1] || '');
                    });
                } else {
                    // Enlever readonly pour les autres pays
                    $town.prop('readonly', false).removeClass('readonly-field');

                    if ($zip.data('autoComplete')) {
                        $zip.autoComplete('destroy').removeClass('basicAutoComplete');
                    }
                }
            }

            init();
            $country.on('change', function() {
                $zip.val('');
                $town.val('');
                init();
            });

            var input = document.querySelector("#form_phone");
            var iti = window.intlTelInput(input, {
                nationalMode: true,
                preferredCountries: ['fr', 'es'],
                utilsScript: "{{ asset('js/intlTelInputUtils.js') }}"
            });

            $('#coordonnees').submit(function (e) {
                $('#form_phone').val(iti.getNumber());

                var isFrance = $country.find('option:selected').text().trim() === 'France';

                if (isFrance && !$town.val()) {
                    e.preventDefault();
                    alert('Veuillez sélectionner un code postal valide pour remplir automatiquement la ville.');
                    $zip.focus();
                    return false;
                }

                if (!$town.val()) {
                    e.preventDefault();
                    return false;
                }

                return true;
            });

        });

    </script>
{% endblock %}
