{% extends 'base.html.twig' %}

{% block title %}{{ title | trans }}{% endblock %}

{% block css %}
    <style type="text/css">
        body{
            background-color: #41A528 !important;
            color: #fff;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 mt-4">
                <div class="mt-md-4">
                    <div class="text-center">

                        <i class="fas fa-check mb-4" style="font-size: 40px; margin-top: 50px;"></i>
                        <h1 class="threeper" style="font-size: 24px; margin-bottom: 80px;" >{{ "Félicitations, votre compte eusko est bien ouvert !" | trans }}</h1>
                        <h5 class="mb-0 threeper mt-4 mb-4" style="font-size: 16px;">{{ "Il ne vous reste plus qu’à choisir le montant de votre cotisation annuelle, qui sera prélevée sur votre compte eusko." |trans }}</h5>

                        <a href="{{ path('app_homepage') }}" class="btn btn-berdea">{{ "Choisir ma cotisation annuelle" | trans }}</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block menu_footer %}

{% endblock %}

{% block js %}
    <script type="text/javascript"></script>
{% endblock %}

