{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ "Activer votre compte" | trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">

                <div class="mt-4">
                    <h1 class="h3 mb-3 font-weight-normal">{{ "Votre mot de passe" | trans }}</h1>

                    {{ form_start(form) }}
                    {% if  form_errors(form) != '' %}
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button> {{ form_errors(form) }}
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col">
                            {{ form_row(form.motDePasse) }}
                        </div>
                    </div>

                    <h1 class="h3 mt-4 font-weight-normal">{{ "Votre question secrète" | trans }}</h1>
                    <p>{{"Celle-ci vous permettra de retrouver votre mot de passe en toute sécurité." | trans }}</p>

                    <div class="row">
                        <div class="col">
                            {{ form_row(form.questionSecrete) }}
                        </div>
                    </div>

                    <div id="questionPerso" class="row d-none">
                        <div class="col">
                            {{ form_row(form.questionPerso) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            {{ form_row(form.reponse) }}
                        </div>
                    </div>


                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            //If refresh
            if($("#form_questionSecrete").val() == 'autre'){
                $('#questionPerso').removeClass('d-none');
            }
            $("#form_questionSecrete").change(function(){
                if($(this).children("option:selected").val() == 'autre'){
                    $('#questionPerso').removeClass('d-none');
                } else {
                    $('#questionPerso').addClass('d-none');
                }
            });
        });
    </script>
{% endblock %}
