{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 mt-2">

                <div class="row">
                    <div class="col-8">
                        <h2 class="secondary-color mb-4"> {{ "Ajouter des bénéficiaires" | trans }} </h2>
                    </div>
                    <div class="col-4 text-right">
                        <a href="{{ path('app_beneficiaire_gestion') }}" class="btn btn-slim btn-outline-dark">{{"Retour" | trans }}</a>
                    </div>
                </div>



                {#<h3 class="main-color mt-4">{{ "Un seul mandat" | trans }} </h3>#}
                <div class="mb-4">
                    {{ form_start(form) }}

                    <div class="row">
                        <div class="col mt-4">

                            <h5>{{ form_label(form.numero_compte_debiteur) }}</h5>
                            {% if form_errors(form.numero_compte_debiteur) != '' %}
                                <span class="invalid-feedback d-block"><span class="d-block">
                                <span class="form-error-icon badge badge-danger text-uppercase">Erreur</span> <span class="form-error-message">{{ form_errors(form.numero_compte_debiteur) }}</span>
                            </span></span>
                            {% endif %}

                            {{ form_widget(form.numero_compte_debiteur, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-4 mb-4">
                            <button type="submit" id="form_submit" name="form[submit]" class="btn btn-primary">{{ "Valider" | trans }}</button>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col mt-4">
                            <h5>{{ form_label(form.tableur) }}</h5>
                            {% if app.request.locale == 'fr' %}
                                <p>Télécharger un fichier d'exemple pour <a href="{{ asset('images/exemple-fr.xlsx') }}" style="text-decoration: underline;">Excel</a> ou pour <a href="{{ asset('images/exemple-fr.ods') }}" style="text-decoration: underline;">OpenOffice / LibreOffice</a></p>
                            {% else %}
                                <p><a href="{{ asset('images/exemple-eu.xlsx') }}" style="text-decoration: underline;">Excel</a> edo <a href="{{ asset('images/exemple-eu.ods') }}" style="text-decoration: underline;">OpenOffice / LibreOffice</a>-eko fitxategi adibide bat kargatu</p>
                            {% endif %}

                            {% if form_errors(form.tableur) != '' %}
                                <span class="invalid-feedback d-block"><span class="d-block">
                                <span class="form-error-icon badge badge-danger text-uppercase">Erreur</span> <span class="form-error-message">{{ form_errors(form.tableur) }}</span>
                            </span></span>
                            {% endif %}
                            {{ form_widget(form.tableur, {'attr': {'class': 'form-control'}}) }}

                        </div>
                    </div>

                    <div class="row">
                        <div class="col mt-4">
                            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                        </div>
                    </div>

                    {{ form_rest(form) }}
                </div>


            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">

    </script>
{% endblock %}