{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block css %}
    <link href="{{ asset('css/chosen.min.css') }}" rel="stylesheet"  type='text/css'>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 mt-3">

                {% if is_granted("ROLE_TOURISTE") %}
                    <h2 class="mb-2"> {{ "Payer chez un commerçant" | trans }} </h2>
                    <div class="mb-4">
                        <p class="text-subtitle">{{ "Téléchargez et utilisez l'application euskopay" | trans }}</p>

                        <div class="row">
                            <div class="col text-center">
                                <a href="https://apps.apple.com/fr/app/euskopay/id1518033621">
                                    <img src="{{ asset('images/appstore-1-200x60.png') }}" height="40px">
                                </a>
                            </div>
                            <div class="col text-center">
                                <a href="https://play.google.com/store/apps/details?id=org.euskalmoneta.euskopay">
                                    <img src="{{ asset('images/googlestore-200x60.png') }}" height="40px">
                                </a>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                {% endif %}

                <h2 class="mb-2"> {{ "Faire un virement unique" | trans }} </h2>

                <div class="mb-4">

                    {% if  form_errors(form) != '' %}
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button> {{ form_errors(form) }}
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="destinataire" class="required">{{ "Destinataire" | trans }}</label>

                                <select id="" name="destinataire" class="form-control chosen-select" data-placeholder="{{ "Selectionner dans la liste ..." | trans }}" required>
                                    <option value=""></option>
                                    {% for beneficiaire in beneficiaires %}
                                        <option value="{{ beneficiaire.cyclos_account_number }}_{{ beneficiaire.cyclos_name }}">{{ beneficiaire.cyclos_name }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="float-right">
                                <a href="{{ path('app_beneficiaire_ajout') }}" class="btn btn-outline-primary btn-slim"> {{"Ajouter un nouveau bénéficiaire" | trans}}</a>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(form.amount) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            {{ form_row(form.description) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            {{ form_row(form.submit) }}
                        </div>
                    </div>

                </div>

                {% if not is_granted("ROLE_TOURISTE") %}
                    <h2 class="secondary-color mb-2"> {{ "Faire plusieurs virements" | trans }} </h2>
                    <div class="mb-4">
                        <a href="{{ path('app_virement_multiple') }}" class="mt-4 btn btn-outline-primary">{{ "Importer un tableur" | trans }}</a>
                    </div>
                {% endif %}



                <div class="before-footer">
                    <hr>
                    <div class="text-center mb-4">
                        <a href="{{ path('app_beneficiaire_gestion') }}"><i class="fal fa-users main-color" style="font-size: 50px;"></i><br /></a>
                        <a href="{{ path('app_beneficiaire_gestion') }}" class="btn btn-outline-primary btn-slim main-color">{{ "Gestion des bénéficiaires" | trans }}  </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{"Confirmation paiement" | trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{"Êtes-vous sûr de valider le paiement ?" | trans }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "Annuler" | trans }}</button>
                    <input  type="submit" class="btn btn-outline-success btn-slim" id="modal-valid" value={{ "Valider" | trans }} />
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}




{% endblock %}

{% block js %}
    <script src="{{ asset('js/chosen.jquery.min.js') }}"></script>
    <script type="text/javascript">

        $(".chosen-select").chosen();

    </script>
{% endblock %}