{% extends 'base.html.twig' %}


{% block css %}
    <link href="{{ asset('css/chosen.min.css') }}" rel="stylesheet"  type='text/css'>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 mt-3">
                <div class="row">
                    <div class="col"><h2 class="secondary-color mb-4"> {{"Modifier Association 3%" | trans }} </h2></div>
                </div>

                <div class="row">
                    <div class="col">

                        <form method="post" class="form">

                            <div class="form-group">
                                <label for="form_amount" >{{ "Association parainée" }}</label>

                                <p>{{"Choisissez une association parmi les associations déjà adhérentes à Euskal Moneta :" | trans }}</p>
                                <div class="row">
                                    <div class="col-md-2"><input id="radioAsso" name="radiostar[]" type="radio" value="asso" class="form-control" /></div>
                                    <div class="col-md-10">
                                        <select name="fk_asso" id="fk_asso" class="chosen-select form-control" data-placeholder="{{ "Association ..." | trans }}">
                                            <option></option>
                                            {% for asso in optionsAsso %}
                                                <option value="{{ asso.id }}" {% if membre.fk_asso == asso.id %}selected{% endif %}>{{ asso.nom }} - {{ asso.nb_parrains }}  </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <p>{{"ou saisie libre d'une autre association :" | trans }}</p>
                                <div class="row">
                                    <div class="col-md-2"><input id="radioLibre" name="radiostar[]" type="radio" value="libre" class="form-control" /></div>
                                    <div class="col-md-10">
                                        <input id="options_asso_saisie_libre" name="options_asso_saisie_libre" type="text" class="form-control" value="{{ membre.array_options.options_asso_saisie_libre }}"/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" class="btn btn-success" value="Valider" />
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('js/chosen.jquery.min.js') }}"></script>
    <script type="text/javascript">
        $(".chosen-select").chosen();

        function activateLibre() {
            $('#options_asso_saisie_libre').attr("disabled", false);
            $("#fk_asso").attr("disabled", true).trigger("chosen:updated");
            $("#radioLibre").prop("checked", true);
        }

        function activateAsso() {
            $("#fk_asso").attr("disabled", false).trigger("chosen:updated");
            $('#options_asso_saisie_libre').attr("disabled", true);
            $('#options_asso_saisie_libre').val("");
            $("#radioAsso").prop("checked", true);
        }

        $("#radioAsso").click(function () {
            activateAsso();
        });

        $("#radioLibre").click(function () {
            activateLibre();
        });
        {% if membre.fk_asso == '' %}
        activateLibre();
        {% else %}
        activateAsso()
        {% endif %}

    </script>
{% endblock %}
