{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block cssBefore %}
    <link href="{{ asset('css/intlTelInput.min.css') }}" rel="stylesheet"  type='text/css'>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 ">
                <div class="mt-md-4">
                    <h1 class="sur-titre-ouverture">{{ 'Ouverture de votre compte "Vacances en eusko"' | trans }}</h1>
                    <div style="width: 80%">
                        <div>{{ "ETAPE 2/4" | trans }}</div>
                        <h1 class="mb-3">{{ title | trans }}</h1>
                       {# <p class="text-subtitle">{{ "Pour commencer, nous avons besoin de quelques informations." | trans }}</p>#}
                    </div>

                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{{ asset('js/intlTelInput.min.js') }}"></script>
    <script type="text/javascript">

        $( document ).ready(function() {

            var input = document.querySelector("#form_phone");
            var iti = window.intlTelInput(input, {
                nationalMode: true,
                preferredCountries: ['fr', 'es'],
                utilsScript: "{{ asset('js/intlTelInputUtils.js') }}"
            });

            var $country = $('.country-select, #form_country_id');
            var $zip = $('#form_zip');
            var $town = $('#form_town');

            function init() {
                var isFrance = $country.find('option:selected').text().trim() === 'France';

                if (isFrance) {
                    $town.prop('readonly', true).addClass('readonly-field');

                    $zip.addClass('basicAutoComplete').autoComplete({
                        resolverSettings: {
                            url: '{{ path('app_ajex_zipcode_search') }}'
                        }
                    }).on('autocomplete.select', function() {
                        var parts = $(this).val().split('--');
                        $zip.val(parts[0]);
                        $town.val(parts[1] || '');
                    });
                } else {
                    // Enlever readonly pour les autres pays
                    $town.prop('readonly', false).removeClass('readonly-field');

                    if ($zip.data('autoComplete')) {
                        $zip.autoComplete('destroy').removeClass('basicAutoComplete');
                    }
                }
            }

            init();
            $country.on('change', function() {
                $zip.val('');
                $town.val('');
                init();
            });

            $('#coordonnees').submit(function (e) {
                $('#form_phone').val(iti.getNumber());

                var isFrance = $country.find('option:selected').text().trim() === 'France';

                if (isFrance && !$town.val()) {
                    e.preventDefault();
                    alert('Veuillez sélectionner un code postal valide pour remplir automatiquement la ville.');
                    $zip.focus();
                    return false;
                }

                if (!$town.val()) {
                    e.preventDefault();
                    return false;
                }

                return true;
            });

        });


    </script>
{% endblock %}
