{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ title | trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 mt-4">
                <div class="mt-md-4">
                    <div style="width: 80%">
                        <div>ETAPE 2/3</div>
                        <h1 class="mb-3">{{ title | trans }}</h1>
                       {# <p class="text-subtitle">{{ "Pour commencer, nous avons besoin de quelques informations." | trans }}</p>#}
                    </div>
                    <form method="post">

                        {{ form(form) }}


                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">

        $('.basicAutoComplete').autoComplete({
            resolverSettings: {
                url: '{{ path('app_ajex_zipcode_search') }}'
            }
        });

        $('.basicAutoComplete').bind('autocomplete.select', function() {
            var ziptown = $("#form_zip").val().split('--');
            $("form_zip").val(ziptown[0]);
            $(this).val(ziptown[0]);
            $('#form_town').val(ziptown[1]);
        });



    </script>
{% endblock %}

