{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ title | trans }}{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 ">
                <div class="mt-md-4">
                    <h1 class="sur-titre-ouverture">{{ 'Ouverture de votre compte "Vacances en eusko"' | trans }}</h1>
                    <div style="">
                        <div>{{ "ETAPE 3/4" | trans }}</div>
                        <h1 class="mb-3">{{ title | trans }}</h1>
                        <p class="text-subtitle">{{ "Afin de valider votre compte, la régulation bancaire nous impose de vérifier une pièce d'identité.<br /><br />
                        Vous pouvez importer un scan ou une photo de votre <b>carte d'identité</b> ou de votre <b>passeport</b> : <br /><br />
                        - Le document ne doit pas être flou <br />
                        - Votre photo doit apparaître sur le document <br />
                        " | trans | raw }}</p>


                        <div id="spinner" class="text-center mt-4 d-none">
                            <div class="loadingio-spinner-spinner-3n6a06i025x"><div class="ldio-x8uv5a6ulc">
                                    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                                </div></div>

                            <p>{{ "La vérification de votre pièce d'identité peut prendre jusqu'à dix secondes." | trans }}</p>
                        </div>

                        <div id="formulaire">
                            <div style="margin-top: 50px" class="text-center">
                                <img src="{{ asset('images/idcard.png') }}" width="100px" />
                            </div>

                            <div class="mt-2">
                                <form id="myform" action="{{ path('app_vee_api_idcheck') }}" method="post">
                                    <div class="form-group">
                                        <label for="form_idcard"> {{ "Importer votre pièce d'identité" | trans }}</label>
                                        <div class="custom-file">
                                            <input type="file" id="form_idcard" name="form[idcard]" aria-describedby="form_idcard_help" class="custom-file-input" lang="{{ app.request.locale }}">
                                            <label for="form_idcard" class="custom-file-label"> </label>
                                        </div>
                                        <small id="form_idcard_help" class="form-text text-muted">{{ "Au format .jpg .png ou .pdf, maximum 4 Mo" | trans }}</small>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" class="btn btn-success" value="{{ "Valider" | trans }}">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">

        document.querySelector('.custom-file-input').addEventListener('change',function(e){
            var fileName = document.getElementById("form_idcard").files[0].name;
            var nextSibling = e.target.nextElementSibling
            nextSibling.innerText = fileName
        })

        $(document).ready(function() {

            $('#myform').submit(function (e){
                $('#formulaire').hide();
                $('#spinner').removeClass('d-none');
                e.preventDefault();
                e.stopImmediatePropagation();

                var form = $(this);
                var formdata = false;
                if (window.FormData){
                    formdata = new FormData(form[0]);
                }

                var formAction = form.attr('action');
                $.ajax({
                    url         : formAction,
                    data        : formdata ? formdata : form.serialize(),
                    cache       : false,
                    contentType : false,
                    processData : false,
                    type        : 'POST',
                    success     : function(data, textStatus, jqXHR){
                        if(data.bool){
                            window.location.href = '{{ path('app_vee_etape4_securite') }}';
                        } else {
                            document.location.reload(true);
                        }
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}

