{% extends 'base.html.twig' %}

{% block title %}{{ "Fermeture compte" | trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 mt-4">
                <div class="mt-md-4">
                    <div style="">
                        <h1 class="mb-3">{{ "Clôture compte" | trans }}</h1>
                        <p class="text-subtitle">{{ "Vos vacances sont finies ? Merci pour votre utilisation de l'eusko. Plusieurs solutions sont possibles pour utiliser le solde de votre compte." | trans }}</p>

                        <h3 class="secondary-color mb-0"> {{ "Votre solde" | trans }}</h3>
                        <div class="main-color big-solde mb-4" style="font-size: 30px"> {{ infosUser.solde | number_format(2, ',') }} eusko</div>


                        <div class="row text-center">
                            <div class="col-sm-12 mb-4">
                                <a href="{{ path('app_vee_fermeture_panier') }}" class="btn btn-outline-success">
                                    {{ "Commander un panier paysan en livraison" | trans }}
                                </a>
                            </div>

                            <div class="col-sm-12 mb-4">
                                <a href="{{ path('app_vee_fermeture_don') }}" class="btn btn-outline-success">
                                    {{ "Faire un don de tout ou partie de mon solde à l'Eusko" | trans }}
                                </a>
                            </div>

                            <div class="col-sm-12 mb-4">
                                <a href="{{ path('app_vee_fermeture_solde') }}" class="btn btn-outline-success">
                                    {{ "Récuperer le solde de mon compte" | trans }}
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">

    </script>
{% endblock %}

