{% extends 'base.html.twig' %}

{% block menu_top %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-eusko static-top fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_login') }}"><img src="{{ asset('images/logo-eusko-topbar.png') }}" alt="eusko logo" style="width: 60px;"></a>
            <div class="navbar-right">
                {% if app.user %}
                    <a href="{{ path('app_logout') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                        </svg>
                        <br /> Quitter
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block menu_footer %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 mt-4">
                <div class="mt-md-4">
                    <div style="">
                        <div class="text-center">
                            <h1 class="mb-3">{{ "A bientôt" | trans }}</h1>
                            <p class="text-subtitle">{{ "Votre compte est cloturé merci de votre participation." | trans }}</p>
                            <img src="{{ asset('images/euskoa5.png') }}" width="200px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
