<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Eusko CEL</title>

    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"  type='text/css'>
    <link href="{{ asset('css/all.min.css') }}" rel="stylesheet"  type='text/css'>
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"  type='text/css'>

</head>

<body>

<header>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-eusko static-top fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_homepage') }}"><img src="{{ asset('images/logo-eusko-topbar.png') }}" alt="eusko logo" style="width: 60px;"></a>
            <div class="navbar-right">

                {% if app.user %}
                {#<a href="{{ path('app_homepage') }}">
                    <i class="fal fa-home cel-menu-icon"></i>
                    <br /> Accueil
                </a>#}

                <a href="{{ path('app_aide') }}">
                    <i class="fal fa-question-circle cel-menu-icon"></i>
                    <br /> Aide
                </a>

                <a href="{{ path('app_profil') }}">
                    <i class="fal fa-user cel-menu-icon"></i>
                    <br /> Profil
                </a>

                <a href="{{ path('app_logout') }}">
                    <i class="fal fa-sign-out cel-menu-icon"></i>
                    <br /> Quitter
                </a>

                {#<a href="{{ path('app_profil') }}">
                    <i class="fal fa-bell cel-menu-icon"></i>
                    <br />
                    <span class="badge badge-danger">4</span>
                </a>#}
                {% else %}
                    <a href="{{ path('app_anon_lang', {'locale': 'eu'}) }}" style="font-size: 16px;">
                        EUS
                    </a>
                    <a href="{{ path('app_anon_lang', {'locale': 'fr'}) }}" style="font-size: 16px;">
                        FR
                    </a>


                {% endif %}

                {#<a href="#">
                    <i class="fas fa-sign-out cel-menu-icon"></i>
                    <br /> Déconnexion
                </a>#}
            </div>
        </div>
    </nav>

</header>
<main>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 mt-2">
                {% for label, messages in app.flashes() %}
                    {% for message in messages %}
                        <div class="alert alert-dismissible alert-{{ label }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message | raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- Page Content -->
    {% block body %}

    {% endblock %}
</main>

{% if app.user %}
<footer class="footer fixed-bottom mt-auto pt-2">
    <div class="container">

        <div class="row">
            <div class="col-3">
                <a href="{{ path('app_homepage') }}">
                    <i class="fal fa-home"></i>
                    <br /> Accueil
                </a>
            </div>
            <div class="col-3">
                <a href="{{ path('app_virement') }}">
                    <img src="{{ asset('images/virement.png') }}">
                    <br /> Virement
                </a>
            </div>
            <div class="col-3">
                <a href="{{ path('app_change') }}">
                    <img src="{{ asset('images/change.png') }}">
                    <br /> Change
                </a>
            </div>
            {% if is_granted("ROLE_CLIENT") %}
            <div class="col-3">
                <a href="{{ path('app_prelevement_autorisation') }}">
                    <i class="fal fa-list"></i>
                    <br /> Prélèvements
                </a>
            </div>
            {% elseif is_granted("ROLE_PARTENAIRE") %}
                <div class="col-3">
                    <a href="{{ path('app_prelevement') }}">
                        <i class="fal fa-list"></i>
                        <br /> Prélèvements
                    </a>
                </div>

            {% endif %}

        </div>

    </div>
</footer>
{% endif %}

<!-- Bootstrap core JavaScript -->
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.2.2/dist/latest/bootstrap-autocomplete.min.js"></script>

{% block js %}

{% endblock %}
</body>

</html>
