{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 mt-2">

                <div class="row">
                    <div class="col-8">
                        <h2 class="secondary-color mb-4"> {{ "Ajouter des mandats" | trans }} </h2>
                    </div>
                    <div class="col-4 text-right">
                        <a href="{{ path('app_prelevement_mandats') }}" class="btn btn-slim btn-outline-dark">{{"Retour" | trans }}</a>
                    </div>
                </div>



                {#<h3 class="main-color mt-4">{{ "Un seul mandat" | trans }} </h3>#}
                <div class="mb-4">
                    {{ form_start(form) }}

                    <div class="row">
                        <div class="col mt-4">

                            <h5>{{ form_label(form.numero_compte_debiteur) }}</h5>
                            {{ form_widget(form.numero_compte_debiteur, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-4 mb-4">
                            <button type="submit" id="form_submit" name="form[submit]" class="btn btn-primary">Valider</button>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col mt-4">
                            <h5>{{ form_label(form.tableur) }}</h5>
                            {{ form_widget(form.tableur, {'attr': {'class': 'form-control'}}) }}
                            <p class="text-semi-bold">{{"Une seule colonne avec les numéros de compte, sans titre" | trans }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mt-4">
                            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                        </div>
                    </div>

                    {{ form_rest(form) }}
                </div>


            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">

    </script>
{% endblock %}