{% extends 'base.html.twig' %}



{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 mt-2">
                <h2 class="secondary-color mb-4"> {{ "Mandats" | trans }} </h2>


                {% if mandatsEnATT is not empty %}
                    <h3 class="main-color">{{ "En attente de validation" | trans }} </h3>

                    {% for mandat in mandatsEnATT %}
                        <div class="row p-2" >
                            <div class="col-2 text-right">
                                <span class="fa-stack" style="vertical-align: top;">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fal fa-clock fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="col-6">
                                <div class="main-color text-semi-bold"> {{ mandat.nom_debiteur }}</div>
                                <div class="secondary-color"> {{ "Créé le " | trans }}{{  mandat.date_derniere_modif |localizeddate('long', 'none', app.request.getLocale()) }}</div>
                            </div>
                            <div class="col-4">
                                <div class="float-right ">

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}



                {% if mandatsValide is not empty %}
                    <h3 class="main-color mt-4">  {{ "Validés" | trans }} </h3>
                    {% for mandat in mandatsValide %}
                        <div class="row pt-4 pb-4 pl-2 pr-2 " {% if loop.index is divisible by(2) %} style="background-color: #f9f9f9;" {% endif %}>
                            <div class="col-2 text-right">
                                <span class="fa-stack" style="vertical-align: top;">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="far fa-user fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="col-6">
                                <div class="main-color text-semi-bold"> {{ mandat.nom_debiteur }}</div>
                                <div class="secondary-color"> {{ "Validé le " | trans }}{{  mandat.date_derniere_modif |localizeddate('long', 'none', app.request.getLocale()) }}</div>
                            </div>
                            <div class="col-4">
                                <div class="float-right ">
                                    <a class="btn btn-outline-danger" href="{{ path('app_prelevement_autorisation_delete', {'id': mandat.id}) }}"> <i class="far fa-trash-alt"></i> </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if mandatsRev is not empty %}
                    <h3 class="main-color mt-4">  {{ "Révoqués" | trans }} </h3>
                    {% for mandat in mandatsRev %}
                        <div class="row pt-4 pb-4 pl-2 pr-2 " {% if loop.index is divisible by(2) %} style="background-color: #f9f9f9;" {% endif %}>
                            <div class="col-2 text-right">
                                <span class="fa-stack" style="vertical-align: top;">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="far fa-times fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="col-6">
                                <div class="main-color text-semi-bold"> {{ mandat.nom_debiteur }}</div>
                                <div class="secondary-color"> {{ "Révoqué le " | trans }}{{  mandat.date_derniere_modif |localizeddate('long', 'none', app.request.getLocale()) }}</div>
                            </div>
                            <div class="col-4">
                                <div class="float-right ">
                                    <a class="btn btn-outline-danger" href="{{ path('app_prelevement_autorisation_delete', {'id': mandat.id}) }}"> <i class="far fa-trash-alt"></i> </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}


                <div class="before-footer fixed-bottom">
                    <hr>
                    <div class="text-center mb-4">
                        <a href="{{ path('app_prelevement_mandats_ajout') }}"><i class="far fa-user-plus main-color" style="font-size: 32px;"></i><br /></a>
                        <a href="{{ path('app_prelevement_mandats_ajout') }}" class="btn btn-outline-primary btn-slim main-color">{{ "Ajouter des mandats" | trans }}  </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">

    </script>
{% endblock %}