{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 mt-2">
                <h2 class="secondary-color mb-4"> {{ "Prélèvement" | trans }} </h2>


                <h3 class="main-color"><i class="fas fa-check"></i> {{ "Je me fais prélever" | trans }} </h3>
                <div class="ml-4 mr-2 mb-4">
                    <p class="text-justify">Je consulte la liste des autorisations de prélèvement. <br />
                        J'approuve ou rejete une demande.
                    </p>
                    <div class="text-center mt-2">
                        <a href="{{ path('app_prelevement_autorisation') }}" class="btn btn-outline-primary">{{ "Consulter" | trans }}</a>
                    </div>
                </div>


                {% if is_granted('ROLE_USER') %}
                <h3 class="main-color mt-4"><i class="fas fa-money-bill"></i>  {{ "Je prélève quelqu'un" | trans }} </h3>
                <div class="ml-4 mr-2 mb-4">
                    <div class="text-center mt-4">
                        <a href="{{ path('app_prelevement_execution') }}" class="btn btn-outline-primary">{{ "J'éxécute des prélèvements" | trans }}</a>
                    </div>
                    <div class="text-center mt-4">
                        <a href="{{ path('app_prelevement_mandats') }}" class="btn btn-outline-primary">{{ "Consulter ou ajouter des mandats" | trans }}</a>
                    </div>
                </div>
                {% endif %}


            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">

    </script>
{% endblock %}